.header {
    font-size: 3rem;
    text-decoration: underline;
}


.board {
    height: 620px;
    width: 620px;
    background-color:pink;
    border: solid 5px black;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
    align-items: center;
    justify-items: center;
}

.puzzleBox {
    height: 420px;
    width: 920px;
    background-color: cyan;
    border: solid 5px black;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    justify-items: center;
}


.emptyBox {
    background-color: blueviolet;
    height: 100px;
    width: 100px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.piece-img {
    height: 100px;
    width: 100px;
}
    
