body {
    margin: 0;
    height: 100vh;
    overflow-y: hidden;
    background-color: hotpink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game { 
    display: flex;               
    justify-content: center;     
    align-items: flex-start;     
    gap: 10px;
    padding-top: 5px;
}

.board {
    height: 600px;
    width: 600px;
    background-color:rgb(169, 50, 248);
    border: solid 5px black;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
    align-items: center;
    justify-items: center;
}

.puzzleBox {
    height: 600px;
    width: 600px;
    background-color: cyan;
    border: solid 5px black;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);;
    align-items: center;
    justify-items: center;
}

.tempText {
    grid-column-start: 1;
    grid-column-end: 67;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    font-size: 3rem;
}

.emptyBox {
    height: 100px;
    width: 100px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.piece-img {
    height: 100px;
    width: 100px;
}

.jukseKnapp {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    width: 55px;
    margin: 10px;
}

.knappJ {
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0);
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0);   
}

.pusleKnapper {
    height: 200px;
    width: 1230px;
    display: flex;
}

.pusleKnapperV {
    height: 150px;
    width: 600px;
    margin-top: 5px;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
}

.pusleKnapperH {
    height: 150px;
    width: 600px;
    margin-top: 5px;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
}

.knapp {
    border-radius: 10px;
    
}